-- University Booking System Final DB Export
SET FOREIGN_KEY_CHECKS=0;

-- Table: sys_roles
CREATE TABLE `sys_roles` (
  `id` int NOT NULL AUTO_INCREMENT,
  `role_name` varchar(50) NOT NULL,
  `role_key` varchar(50) NOT NULL,
  `is_system_role` tinyint(1) DEFAULT '0',
  PRIMARY KEY (`id`),
  UNIQUE KEY `role_key` (`role_key`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
INSERT IGNORE INTO `sys_roles` (`id`, `role_name`, `role_key`, `is_system_role`) VALUES ('1', 'Super Admin', 'super_admin', '1');
INSERT IGNORE INTO `sys_roles` (`id`, `role_name`, `role_key`, `is_system_role`) VALUES ('2', 'Student', 'student', '0');
INSERT IGNORE INTO `sys_roles` (`id`, `role_name`, `role_key`, `is_system_role`) VALUES ('3', 'Faculty', 'faculty', '0');

-- Table: users
CREATE TABLE `users` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `email` varchar(100) NOT NULL,
  `password` varchar(255) NOT NULL,
  `role` varchar(50) NOT NULL,
  `organization` varchar(150) DEFAULT NULL,
  `identity_no` varchar(50) DEFAULT NULL,
  `registration_no` varchar(50) DEFAULT NULL,
  `profile_image` varchar(255) DEFAULT 'assets/img/avatar.png',
  `user_token` varchar(64) DEFAULT NULL,
  `is_active` tinyint(1) DEFAULT '1',
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`),
  KEY `role` (`role`),
  CONSTRAINT `users_ibfk_1` FOREIGN KEY (`role`) REFERENCES `sys_roles` (`role_key`)
) ENGINE=InnoDB AUTO_INCREMENT=18 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
INSERT IGNORE INTO `users` (`id`, `name`, `email`, `password`, `role`, `organization`, `identity_no`, `registration_no`, `profile_image`, `user_token`, `is_active`, `created_at`) VALUES ('1', 'Super Admin', 'admin@admin.com', '$2y$10$/FcBmbA8sRi3N0fnJNgVqu6VojspMZinFuuLpmKHF1ckev8pz282S', 'super_admin', 'University Administration', NULL, NULL, 'assets/img/avatar.png', '296639846b400897891700e6b613f9e9_1', '1', '2026-03-03 10:36:12');
INSERT IGNORE INTO `users` (`id`, `name`, `email`, `password`, `role`, `organization`, `identity_no`, `registration_no`, `profile_image`, `user_token`, `is_active`, `created_at`) VALUES ('2', 'Student User', 'student@test.com', '$2y$10$/FcBmbA8sRi3N0fnJNgVqu6VojspMZinFuuLpmKHF1ckev8pz282S', 'student', 'University of Sahiwal', NULL, NULL, 'assets/img/avatar.png', NULL, '1', '2026-03-03 10:41:15');
INSERT IGNORE INTO `users` (`id`, `name`, `email`, `password`, `role`, `organization`, `identity_no`, `registration_no`, `profile_image`, `user_token`, `is_active`, `created_at`) VALUES ('3', 'External Partner', 'external@test.com', '$2y$10$/FcBmbA8sRi3N0fnJNgVqu6VojspMZinFuuLpmKHF1ckev8pz282S', 'external_client', 'Universal Solutions', NULL, NULL, 'assets/img/avatar.png', NULL, '1', '2026-03-03 10:41:15');

-- Table: resources
CREATE TABLE `resources` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `type` enum('auditorium','lab','classroom','ground','hall') NOT NULL,
  `location` varchar(150) NOT NULL,
  `capacity` int NOT NULL,
  `description` text,
  `amenities` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin,
  `status` enum('available','maintenance','unavailable') DEFAULT 'available',
  `image_url` varchar(255) DEFAULT 'assets/img/resources/default_resource.png',
  `price` decimal(10,2) DEFAULT '0.00',
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`),
  UNIQUE KEY `name_2` (`name`),
  CONSTRAINT `resources_chk_1` CHECK (json_valid(`amenities`))
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
INSERT IGNORE INTO `resources` (`id`, `name`, `type`, `location`, `capacity`, `description`, `amenities`, `status`, `image_url`, `price`, `created_at`) VALUES ('1', 'Computer Lab 01', 'lab', 'Business Department', '40', 'Modern lab for business analytics and research.', '{\"Projector\":1,\"Extra Chairs\":10,\"Internet\":\"Stable\"}', 'available', 'assets/img/resources/computer_lab.png', '1500.00', '2026-03-05 21:45:20');
INSERT IGNORE INTO `resources` (`id`, `name`, `type`, `location`, `capacity`, `description`, `amenities`, `status`, `image_url`, `price`, `created_at`) VALUES ('2', 'Computer Lab 02', 'lab', 'CS Department', '50', 'High-end computing facility for programming.', '{\"Projector\":\"1\",\"Dual Monitors\":\"5\",\"Internet\":\"Fiber\"}', 'available', 'assets/img/resources/computer_lab.png', '1500.00', '2026-03-05 21:45:20');
INSERT IGNORE INTO `resources` (`id`, `name`, `type`, `location`, `capacity`, `description`, `amenities`, `status`, `image_url`, `price`, `created_at`) VALUES ('3', 'Physics Lab 01', 'lab', 'CS Department', '30', 'General physics lab for basic experiments.', '{\"Projector\":1,\"Lab Kits\":15}', 'available', 'assets/img/resources/physics_lab.png', '1200.00', '2026-03-05 21:45:20');

-- Table: events
CREATE TABLE `events` (
  `id` int NOT NULL AUTO_INCREMENT,
  `title` varchar(150) NOT NULL,
  `description` text,
  `organizer_id` int NOT NULL,
  `event_type` varchar(50) DEFAULT NULL,
  `status` enum('planning','active','completed','cancelled','pending_approval') DEFAULT 'planning',
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `organizer_id` (`organizer_id`),
  CONSTRAINT `events_ibfk_1` FOREIGN KEY (`organizer_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
INSERT IGNORE INTO `events` (`id`, `title`, `description`, `organizer_id`, `event_type`, `status`, `created_at`) VALUES ('1', 'Expo Gala', 'create business opporunity for students', '1', 'competition', 'planning', '2026-03-05 22:19:29');
INSERT IGNORE INTO `events` (`id`, `title`, `description`, `organizer_id`, `event_type`, `status`, `created_at`) VALUES ('2', 'Betmintan', 'Amatch between two grouos of  different universities', '9', 'competition', 'planning', '2026-03-14 13:06:09');
INSERT IGNORE INTO `events` (`id`, `title`, `description`, `organizer_id`, `event_type`, `status`, `created_at`) VALUES ('3', 'a cricet match between two teams', 'crate a good relationship  with university of lahore through a cricet match', '11', 'competition', 'planning', '2026-03-29 22:31:52');

-- Table: bookings
CREATE TABLE `bookings` (
  `id` int NOT NULL AUTO_INCREMENT,
  `resource_id` int NOT NULL,
  `user_id` int NOT NULL,
  `event_id` int DEFAULT NULL,
  `start_time` datetime NOT NULL,
  `end_time` datetime NOT NULL,
  `purpose` varchar(255) NOT NULL,
  `requested_requirements` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin,
  `status` enum('pending','approved','rejected','cancelled') DEFAULT 'pending',
  `v_code` varchar(64) DEFAULT NULL,
  `checked_in` tinyint(1) DEFAULT '0',
  `total_price` decimal(10,2) DEFAULT '0.00',
  `payment_status` enum('pending','paid','waived','under_review') DEFAULT 'pending',
  `payment_receipt` varchar(255) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `resource_id` (`resource_id`),
  KEY `user_id` (`user_id`),
  KEY `event_id` (`event_id`),
  CONSTRAINT `bookings_ibfk_1` FOREIGN KEY (`resource_id`) REFERENCES `resources` (`id`),
  CONSTRAINT `bookings_ibfk_2` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`),
  CONSTRAINT `bookings_ibfk_3` FOREIGN KEY (`event_id`) REFERENCES `events` (`id`),
  CONSTRAINT `bookings_chk_1` CHECK (json_valid(`requested_requirements`))
) ENGINE=InnoDB AUTO_INCREMENT=29 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
INSERT IGNORE INTO `bookings` (`id`, `resource_id`, `user_id`, `event_id`, `start_time`, `end_time`, `purpose`, `requested_requirements`, `status`, `v_code`, `checked_in`, `total_price`, `payment_status`, `payment_receipt`, `created_at`) VALUES ('1', '1', '1', NULL, '2024-01-01 00:00:00', '2030-12-31 23:59:59', '≡ƒÜÇ University 24/7 Digital Hub (Active)', NULL, 'approved', NULL, '0', '0.00', 'pending', NULL, '2026-03-05 17:45:20');
INSERT IGNORE INTO `bookings` (`id`, `resource_id`, `user_id`, `event_id`, `start_time`, `end_time`, `purpose`, `requested_requirements`, `status`, `v_code`, `checked_in`, `total_price`, `payment_status`, `payment_receipt`, `created_at`) VALUES ('2', '1', '4', NULL, '2026-03-04 17:45:20', '2026-03-04 20:45:20', 'AI Research Meet', NULL, 'approved', NULL, '0', '0.00', 'pending', NULL, '2026-03-04 17:45:20');
INSERT IGNORE INTO `bookings` (`id`, `resource_id`, `user_id`, `event_id`, `start_time`, `end_time`, `purpose`, `requested_requirements`, `status`, `v_code`, `checked_in`, `total_price`, `payment_status`, `payment_receipt`, `created_at`) VALUES ('3', '8', '5', NULL, '2026-03-03 17:45:20', '2026-03-03 22:45:20', 'Annual Sports Gala', NULL, 'approved', NULL, '0', '0.00', 'pending', NULL, '2026-03-03 17:45:20');

-- Table: system_settings
CREATE TABLE `system_settings` (
  `id` int NOT NULL AUTO_INCREMENT,
  `setting_key` varchar(100) NOT NULL,
  `setting_value` text,
  PRIMARY KEY (`id`),
  UNIQUE KEY `setting_key` (`setting_key`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
INSERT IGNORE INTO `system_settings` (`id`, `setting_key`, `setting_value`) VALUES ('1', 'system_name', 'University of Sahiwal Portal');
INSERT IGNORE INTO `system_settings` (`id`, `setting_key`, `setting_value`) VALUES ('2', 'system_logo', 'assets/img/university_logo.png');
INSERT IGNORE INTO `system_settings` (`id`, `setting_key`, `setting_value`) VALUES ('3', 'contact_email', 'admin@university.edu');

-- Table: sys_pages
CREATE TABLE `sys_pages` (
  `id` int NOT NULL AUTO_INCREMENT,
  `parent_id` int DEFAULT '0',
  `page_name` varchar(100) NOT NULL,
  `page_url` varchar(100) NOT NULL,
  `icon_class` varchar(50) DEFAULT 'bi bi-circle',
  `sort_order` int DEFAULT '0',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=27 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
INSERT IGNORE INTO `sys_pages` (`id`, `parent_id`, `page_name`, `page_url`, `icon_class`, `sort_order`) VALUES ('1', '0', 'Dashboard', 'index.php', 'bi bi-speedometer2', '1');
INSERT IGNORE INTO `sys_pages` (`id`, `parent_id`, `page_name`, `page_url`, `icon_class`, `sort_order`) VALUES ('2', '0', 'Bookings & Catalog', '#', 'bi bi-calendar-check', '2');
INSERT IGNORE INTO `sys_pages` (`id`, `parent_id`, `page_name`, `page_url`, `icon_class`, `sort_order`) VALUES ('3', '2', 'Resource Catalog', 'resources_list.php', 'bi bi-grid-3x3-gap', '1');

-- Table: role_access
CREATE TABLE `role_access` (
  `id` int NOT NULL AUTO_INCREMENT,
  `role_key` varchar(50) NOT NULL,
  `page_id` int NOT NULL,
  PRIMARY KEY (`id`),
  KEY `role_key` (`role_key`),
  KEY `page_id` (`page_id`),
  CONSTRAINT `role_access_ibfk_1` FOREIGN KEY (`role_key`) REFERENCES `sys_roles` (`role_key`),
  CONSTRAINT `role_access_ibfk_2` FOREIGN KEY (`page_id`) REFERENCES `sys_pages` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=111 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
INSERT IGNORE INTO `role_access` (`id`, `role_key`, `page_id`) VALUES ('1', 'super_admin', '1');
INSERT IGNORE INTO `role_access` (`id`, `role_key`, `page_id`) VALUES ('2', 'super_admin', '2');
INSERT IGNORE INTO `role_access` (`id`, `role_key`, `page_id`) VALUES ('3', 'super_admin', '3');

-- Table: sys_notifications
CREATE TABLE `sys_notifications` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `message` text NOT NULL,
  `type` varchar(20) DEFAULT 'info',
  `link_url` varchar(255) DEFAULT NULL,
  `is_read` tinyint(1) DEFAULT '0',
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=189 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
INSERT IGNORE INTO `sys_notifications` (`id`, `user_id`, `message`, `type`, `link_url`, `is_read`, `created_at`) VALUES ('1', '1', 'New login detected on your account at 13:12', 'info', 'notifications.php', '1', '2026-03-12 17:12:19');
INSERT IGNORE INTO `sys_notifications` (`id`, `user_id`, `message`, `type`, `link_url`, `is_read`, `created_at`) VALUES ('2', '100', 'New booking request: Cricket Ground by Super Admin', 'info', 'dashboards/super_admin/manage_events.php', '0', '2026-03-12 17:19:57');
INSERT IGNORE INTO `sys_notifications` (`id`, `user_id`, `message`, `type`, `link_url`, `is_read`, `created_at`) VALUES ('3', '1', 'Booking request for Cricket Ground submitted.', 'success', 'my_bookings.php', '1', '2026-03-12 17:19:57');

-- Table: sys_waitlist
CREATE TABLE `sys_waitlist` (
  `id` int NOT NULL AUTO_INCREMENT,
  `resource_id` int NOT NULL,
  `user_id` int NOT NULL,
  `start_time` datetime NOT NULL,
  `end_time` datetime NOT NULL,
  `status` enum('pending','notified','expired') DEFAULT 'pending',
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
INSERT IGNORE INTO `sys_waitlist` (`id`, `resource_id`, `user_id`, `start_time`, `end_time`, `status`, `created_at`) VALUES ('1', '1', '8', '2026-03-15 09:00:00', '2026-03-15 23:06:00', 'pending', '2026-03-12 17:07:28');

-- Table: inventory
CREATE TABLE `inventory` (
  `id` int NOT NULL AUTO_INCREMENT,
  `item_name` varchar(100) NOT NULL,
  `category` varchar(50) NOT NULL,
  `status` enum('available','maintenance','broken') DEFAULT 'available',
  `description` text,
  `fixed_to_resource` int DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=42 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
INSERT IGNORE INTO `inventory` (`id`, `item_name`, `category`, `status`, `description`, `fixed_to_resource`) VALUES ('1', 'Epson Projector X41', 'Projector', 'available', NULL, NULL);
INSERT IGNORE INTO `inventory` (`id`, `item_name`, `category`, `status`, `description`, `fixed_to_resource`) VALUES ('2', 'Wireless Mic Set', 'Audio', 'available', NULL, NULL);
INSERT IGNORE INTO `inventory` (`id`, `item_name`, `category`, `status`, `description`, `fixed_to_resource`) VALUES ('3', 'Whiteboard Markers', 'Stationary', 'available', NULL, NULL);

-- Table: booking_inventory
CREATE TABLE `booking_inventory` (
  `booking_id` int NOT NULL,
  `inventory_id` int NOT NULL,
  PRIMARY KEY (`booking_id`,`inventory_id`),
  KEY `inventory_id` (`inventory_id`),
  CONSTRAINT `booking_inventory_ibfk_1` FOREIGN KEY (`booking_id`) REFERENCES `bookings` (`id`),
  CONSTRAINT `booking_inventory_ibfk_2` FOREIGN KEY (`inventory_id`) REFERENCES `inventory` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
INSERT IGNORE INTO `booking_inventory` (`booking_id`, `inventory_id`) VALUES ('25', '1');
INSERT IGNORE INTO `booking_inventory` (`booking_id`, `inventory_id`) VALUES ('26', '1');
INSERT IGNORE INTO `booking_inventory` (`booking_id`, `inventory_id`) VALUES ('27', '1');

-- Table: sys_feedback
CREATE TABLE `sys_feedback` (
  `id` int NOT NULL AUTO_INCREMENT,
  `booking_id` int NOT NULL,
  `resource_id` int NOT NULL,
  `user_id` int NOT NULL,
  `rating` int NOT NULL,
  `comments` text,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
INSERT IGNORE INTO `sys_feedback` (`id`, `booking_id`, `resource_id`, `user_id`, `rating`, `comments`, `created_at`) VALUES ('1', '21', '9', '9', '5', 'good management and  high quality services', '2026-05-01 09:05:57');

-- Table: sys_maintenance
CREATE TABLE `sys_maintenance` (
  `id` int NOT NULL AUTO_INCREMENT,
  `resource_id` int NOT NULL,
  `start_time` datetime NOT NULL,
  `end_time` datetime NOT NULL,
  `reason` text COLLATE utf8mb4_unicode_ci,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `resource_id` (`resource_id`),
  CONSTRAINT `sys_maintenance_ibfk_1` FOREIGN KEY (`resource_id`) REFERENCES `resources` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
INSERT IGNORE INTO `sys_maintenance` (`id`, `resource_id`, `start_time`, `end_time`, `reason`, `created_at`) VALUES ('2', '1', '2026-03-16 09:00:00', '2026-03-16 23:08:00', 'for monthly cleaning', '2026-03-13 20:54:11');

SET FOREIGN_KEY_CHECKS=1;
